<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블로그 메인</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
    <div id="app">
        <nav id="navbar">
            <!-- 로그인 상태에 따라 다른 링크 표시 -->
            <a id="signup-link" href="#">회원가입</a>
            <a id="login-link" href="#">로그인</a>
            <a id="profile-link" href="#">프로필</a>
            <a id="logout-link" href="#">로그아웃</a>
            <a id="create-link" href="#">글쓰기</a>
        </nav>
        <h1>블로그 메인</h1>
        <div id="blog-posts-container"></div>
        <div id="post-details"></div>
    </div>
    <script src="../../js/blog/blog-main.js"></script>
</body>
</html>
